<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719999439459-nt7sho7bnrvveeg256fhl6hsqamj1eef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719999439459-nt7sho7bnrvveeg256fhl6hsqamj1eef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719999439459-41h7romrqnm6e70rabp1l3o1j53gb0og.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfFw9T1vgi8X0UKF5A2A8y2E8nlBNMQFg</string>
	<key>GCM_SENDER_ID</key>
	<string>719999439459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.messenger.kz</string>
	<key>PROJECT_ID</key>
	<string>bigstarconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>bigstarconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719999439459:ios:2175827c455a4ec01a5e56</string>
	<key>DATABASE_URL</key>
	<string>https://bigstarconnect-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>